.categories h1 {
    margin: 3rem 0;
}

.categories img {
    width: 90%;
}

.categories .row div {
    border-bottom: 3px solid transparent;
    padding-bottom: 2rem;
    transition: .5s ease border;
    cursor: pointer;

}

.categories .row div:hover {
    border-color: black;
}