@import 'categories.css';
@import 'hero.css';
@import 'cards.css';


* {
    padding: 0px;
    margin: 0px;
}

body {
    position: relative;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    min-width: 450px;
    color: #2e3648;
}

img {
    max-width: 100%;
}

h2 {
    margin: 0;
}

h3 {
    font-size: 45px;
    margin-bottom: 10px;
}


h3 {
    text-align: right;
}

h4 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    color: #707070;
}

::placeholder {
    color: white;
}

/* NAVBAR */

.logo {
    margin-top: -.5em;
}

h2 {
    flex: 1;
    color: white;
    margin-left: .5em;
    line-height: 2em;
    height: 100%;
}

.navbar,
.search-container,
.nav-links,
.login {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar {
    flex-direction: column;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}

.search-container {
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #5DD0A7;
    padding: 0 20px;
    display: flex;
}

.search-container img {
    height: 50px;
    margin-top: -0.5rem;
}

.nav-links {

    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: black;
    color: whitesmoke;
    width: 100%;


}

.nav-links li {
    margin: 0 10px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: whitesmoke;

}

.nav-links a:hover {
    color: gray;
}

.search-container {
    position: relative;
    width: 100%;
}

.social-icons {
    width: 150px;
    height: 19px;
    margin-right: 20px;
}

.social-icons a {
    color: white;
    margin: 0 15px;
}

.login {
    flex-direction: row;
}

/*Carousel*/
.carousel-caption {
    bottom: 40%;
    text-align: right;

}

/*Divisor*/
h4::after {
    content: '';
    display: block;
    width: 100%;
    height: .3rem;
    background-color: #fd5e53;
    margin-top: 1rem;
}

.carousel {
    max-height: 500px;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
}

.carousel-indicators li {
    z-index: 2;
}

.carousel-indicators li:hover {
    cursor: pointer;
}

/** scroll top */

#scroll-top {
    position: fixed;
    bottom: 107px;
    background-color: #fafafa;
    border-radius: 50%;
    right: 50px;
    border: 2px solid #eee;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

/*/footer*/
footer .search-container {
    align-items: center;
    justify-content: center;
}

footer p {
    margin-bottom: 0;
}