* {
    padding: 0px;
    margin: 0px;
}

body{
    position: relative;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

h3{
    font-size: 45px;
    margin-bottom: 10px;
}

p{
    font-size: 25px;
}

h3,
p{
    text-align: right;
}

h4{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    color: #707070;
}

/* NAVBAR */

.navbar,
.search-container,
.nav-links,
.login {
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar {
    flex-direction: column;
    height: auto;
    width: 100%;    
    flex-wrap: wrap;
}
.search-container {
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #21bf73;
    padding: 0 20px;    
}
.search-container img{
    padding-top: 10%;
    height: 100px;
    width: auto;
}
.nav-links {
    
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: black;
    color: whitesmoke;
    width: 100%;


}
   
.nav-links li {
    margin: 0 10px;    
    list-style: none;
}
.nav-links a {   
    text-decoration: none;
    color: whitesmoke;
    
}
.nav-links a:hover {
    color: gray;
}
.search-container {
    position: relative;
    width: 100%;
}
.search input { 
    width: 50vw;    
    padding: 10px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #4deb9e;
}
.search button {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 40px;
    background-image: url("./images/search.svg");
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
}
.social-icons {
    width: 150px;
    height: auto;
    margin-right: 20px;
}
.social-icons a {
    color: white;
    margin: 0 15px;
}
.login {
    flex-direction: row;
}

@media only screen and (max-width: 400px) {
    .search-container {
        flex-direction: row;
    }
    .search input {        
        width: 100px;
    }
    .search-container img{
        height: 80px;
        width: 80px;
    }
    .login {
        flex-direction: column-reverse;
    }      
}
@media only screen and (max-width: 800px) {
    .search input {        
        width: 200px;
    }
}
@media only screen and (max-width: 600px) {
    .search input {        
        width: 100px;
    }
}
@media only screen and (max-width: 500px) {
    .search input {        
        width: 100px;
    }
    .search-container img{
        height: 80px;
        width: 80px;
    }
    .login {
        flex-direction: column-reverse;
    }    
}

/*Carousel*/
.carousel-caption{
    bottom: 40%;
    text-align: right;
    
}

.iconos img{
    width: 90%;
}

/*Divisor*/
h4::after{
    content: '';
    display: block;
    width: 100%;
    height: .3rem;
    background-color: #707070;
    margin-top: 1rem;
}
#cards {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
        
    padding: 30px 20px;        
}

.carousel {    
    max-height: 500px;
    overflow: hidden;
    background-color: hsl(200, 20%, 70%);
}
.carousel-indicators li{
    z-index: 2;    
}
.carousel-indicators li:hover{
    cursor: pointer;
}
.cards {
    display: flex;
    justify-content: center;
    width: 100%;    
}
.card {  
    width: 25%;
    max-height: 420px;
    margin: 30px 10px;
    margin-bottom: 50px;
    background-color: white;
    transition: all, 0.5s;

}
.card h5 {
    font-weight: 700;
}

.card:hover {
    transform: scale(1.05) translateY(9px);   
    transition: all, 0.5s;
    box-shadow: 0 0 10px hsl(200, 20%, 30%);
    box-shadow: 0 10px 30px hsl(200, 20%, 30%);
}
.card-img-top {       
    object-fit: contain;
    height: 150px;
}

/** scroll top */

.scroll-top {
    position: absolute;
    bottom: 107px;
    background-color: white;
    border-radius: 50%;
    right: 50px;
    padding: 7px;
    border: 9px solid #aaa;
}