/*GLOBALES*/
body{
    font-family: 'Oswald', sans-serif;
}

.divisor > h4{
    text-transform: uppercase;
    font-size: 1.8rem!important;
    font-weight: 700;
}

/* NAVBAR */

.navbar  {
    flex-direction: column;
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
}

.search-container {
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #21bf73;
    padding: 0 20px;
    width: 100%;
    display: flex;
}


.login {
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar {
    flex-direction: column;
    height: auto;
    width: 100%;    
    position: fixed;
    flex-wrap: wrap;
    display: fixed;
}

.search-container img {
    padding-top: 10%;
    height: 100px;
    width: auto;
}





.nav-links {
    align-items: center;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    display: flex;
    width: 100%;
    margin-bottom: 0;
}

.nav-links li {
    list-style: none;
}



.nav-links a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    display: inline-block;
}
.nav-links a:hover {
    color: gray;
}
.search-container {
    position: relative;
}
.search input {
    width: 50vw;
    padding: 10px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #4deb9e;
}
.search button {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 40px;
    background-image: url("./images/search.svg");
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
}

.social-icons {
    width: 150px;
    height: auto;
    margin-right: 20px;
}
.social-icons a  {
    color: white;
    margin: 0 15px;
}
.login {
    flex-direction: row;
}

@media only screen and (max-width: 400px) {
    .search-container {
        flex-direction: row;
    }
    .search input {        
        width: 100px;
    }
    .search-container img{
        height: 80px;
        width: 80px;
    }
    .login {
        flex-direction: column-reverse;
    }      
}
@media only screen and (max-width: 800px) {
    .search input {        
        width: 200px;
    }
}
@media only screen and (max-width: 600px) {
    .search input {        
        width: 100px;
    }
}
@media only screen and (max-width: 500px) {
    .search input {        
        width: 100px;
    }
    .search-container img{
        height: 80px;
        width: 80px;
    }
    .login {
        flex-direction: column-reverse;
    }    
}

/*Carousel*/

.carousel-caption{
    bottom: 40%;
    text-align: right;
    margin-bottom: auto;
    
}

.iconos img{
    width: 100px;
    object-fit: contain;
}

/*DIVISOR*/
.divisor h4::after{
    content: ' ';
    display: block;
    width: 100%;
    height: .3rem;
    background-color: #71b100;
    margin-top: 1rem;

}
a.scroll-top {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 1em; /** Sepración inferior **/
    right: 1em; /** Separación derecha **/
    padding: .3em; /** Relleno **/
    background: #242424; /** Colo de fondo **/
    box-shadow: rgba(0, 0, 0, .5) 0 1px 2px, rgba(0, 0, 0, .25) 0 1px 7px; /** Sombra **/
    border-radius: 30px; /** Borde redondeado **/
  }
  a.scroll-top svg {
    display: block;
    fill: #fff; /** Color del icono **/
  }