* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* NAVBAR */

.navbar,
.search-container,
.nav-links,
.login {
    display: flex;
    margin: 0;
    padding: 0;
} 
.navbar {
    padding: 0;
    margin: 0;
    flex-direction: column;
    height: auto;
    width: 100%;    
    position: fixed;
    top: 0;
    flex-wrap: wrap;
    display: fixed;
}
.search-container {
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #21bf73;
    padding: 0 20px;    
}
.search-container img{
    padding-top: 10%;
    height: 100px;
    width: auto;
}
.nav-links {
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
}
.nav-links li {
    margin: 0 10px;    
    list-style: none;
}
.nav-links a {   
    text-decoration: none;
    color: whitesmoke;
}
.nav-links a:hover {
    color: gray;
}
.search-container {
    position: relative;
}
.search input { 
    width: 50vw;    
    padding: 10px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #4deb9e;
}
.search button {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 40px;
    background-image: url("./images/search.svg");
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
}
.social-icons {
    width: 150px;
    height: auto;
    margin-right: 20px;
}
.social-icons a {
    color: white;
    margin: 0 15px;
}
.login {
    flex-direction: row;
}

@media only screen and (max-width: 400px) {
    .search-container {
        flex-direction: row;
    }
    .search input {        
        width: 100px;
    }
    .search-container img{
        height: 80px;
        width: 80px;
    }
    .login {
        flex-direction: column-reverse;
    }      
}
@media only screen and (max-width: 800px) {
    .search input {        
        width: 200px;
    }
}
@media only screen and (max-width: 600px) {
    .search input {        
        width: 100px;
    }
}
@media only screen and (max-width: 500px) {
    .search input {        
        width: 100px;
    }
    .search-container img{
        height: 80px;
        width: 80px;
    }
    .login {
        flex-direction: column-reverse;
    }    
}

/* CONTENT */
.page-content {
    margin-top: 150px;
    width: 100%;    
}

/* CAROUSEL Y CARDS */

#cards {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: 500px;     
    padding: 30px 20px;        
}

.carousel {    
    border-radius: 30px;    
    max-height: 500px;
    overflow: hidden;
    background-color: hsl(200, 20%, 70%);
}
.carousel-indicators li{
    z-index: 2;    
}
.carousel-indicators li:hover{
    cursor: pointer;
}
.cards {
    display: flex;
    justify-content: center;
    width: 100%;    
}
.card {  
    width: 25%;
    max-height: 420px;
    margin: 30px 10px;
    margin-bottom: 50px;
    background-color: white;
    transition: all, 0.5s;

}
.card h5 {
    font-weight: 700;
}

.card:hover {
    transform: scale(1.05) translateY(9px);   
    transition: all, 0.5s;
    box-shadow: 0 0 10px hsl(200, 20%, 30%);
    box-shadow: 0 10px 30px hsl(200, 20%, 30%);
}
.card-img-top {       
    width: 100%;
    height: 150px;
}


